<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<link href="../css/bootstrap.css" rel="stylesheet"/>
<link href="../css/main.css" rel="stylesheet"/>
<link href="../css/editProfile.css" rel="stylesheet"/>
<link href="../css/toast.css" rel="stylesheet"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ArkNet - Edit profile</title>
</head>
<body>
	<br></br>
	<h3 style="text-align:center">Edit Profile</h3>
	<br></br>
	<div class="main" align='center' id='editProfile'>
	<div align="right">
	<label>Name: &nbsp</label>	
	<input class="input" type="text" v-model="user.name"/>	</br></br>
	<label>Lastname: &nbsp</label>
	<input class="input" type="text" v-model="user.lastname"/>	</br></br>
	<label>Email: &nbsp</label>
	<input class="input" type="text" v-model="user.email"/>	</br></br>
	<label>Password: &nbsp</label>
	<input class="input" type="password" v-model="user.password"/> </br></br>
	<label>Confirm Password: &nbsp</label>	 
	<input class="input" type="password" v-model="user.passwordConfirm"> </br></br>
	<label>Date of Birth: &nbsp </label>
	<input class="input" type="date" v-model="date" style="width: 225px;">
	<div class="buttons" align="center">
	<br></br>
	<button v-if="user.isPrivate" v-on:click="makePublic()">Make Public</button>
	<button v-else v-on:click="makePrivate()">Make Private</button>
	<br></br>
	<br></br>
	<label><button class="buttonBlue" v-on:click="saveData">Save</button></label>
	<span></span><span></span>
	<label><button class="buttonBlue" v-on:click="returnBack">Return</button></label>
	</div>
	</div>
	</div>

<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/toast.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../app/editProfileApp.js"></script>
</body>
</html>