<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<link href="../css/bootstrap.css" rel="stylesheet"/>
<link href="../css/main.css" rel="stylesheet"/>
<link href="../css/friendRequest.css" rel="stylesheet"/>
<link href="../css/toast.css" rel="stylesheet"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ArkNet - Friend requests</title>
</head>
<body>
	<br><br>
	<h3 style="text-align:center">Friend requests</h3>
	<div id="friendRequests" align='center'>
	<br><br>
	<div class="back">
	</br></br>
	<h5 v-if="!has">No friend requests to show</h5>
	<div v-if="has" id="frndReqTable" align='center'>
		<table align='center' class='friends'>
			<tr>
			</tr>
			<tr v-for="(frReq,index) in friendRequests"  v-on:click="selectFrnReq(frReq,index)" v-bind:index="index" v-bind:class="{selected : selectedFrReq.id===frReq.id}">
				<td> {{ frReq.name }} {{ frReq.lastname }} </td>
			</tr>
		</table></br></br>
		<label><button class="buttonBlue" v-on:click="handleRequest(true)" v-bind:disabled="selectedFrReq.id==undefined">Accept</button></label>
		<span></span><span></span>
		<label><button class="buttonBlue" v-on:click="handleRequest(false)"  v-bind:disabled="selectedFrReq.id==undefined">Reject</button></label>
		</div>
		</br></br>
		</div>
		</br></br>
		<label><button class="buttonBlue" v-on:click="returnBack">Return</button></label>
	</div>
<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/toast.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../app/friendRequestApp.js"></script>
</body>
</html>