<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<link href="../css/bootstrap.css" rel="stylesheet"/>
<link href="../css/main.css" rel="stylesheet"/> 
<link href="../css/imagesPage.css" rel="stylesheet">
<link href="../css/toast.css" rel="stylesheet"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ArkNet - Images</title>
</head>
<body>
	<div align="center" id='images'>
	</br></br>
	<div class="back">
	</br></br>
	<h3>{{userView.name}} {{userView.lastname}}'s images</h3>
	</br></br>
	<h5 v-if="!hasImages">No images to show</h3>
	<div class="grid-container">
	<div data-toggle="modal" data-target="#exampleModalCenter" class="gallery" v-for="(img,index) in images" v-on:click="selectImage(img,index)" v-bind:index="index" v-bind:class="{selected : selectedImage.id===img.id}">
		<img :src=img.picturePath width="100" height="100"/>
	</div>
	</div>
	</br></br>
	</div>
	</br></br>
	<label v-if="isMine && !posting"><button class="buttonBlue" v-on:click="postImage">New image</button></label>
	<label v-if="posting"><button class="buttonBlue" v-on:click="postImage">Post</button></label>
	</br></br>
	<label  v-if="posting"> <button class="buttonBlue" @click="onPickFile">Upload a picture</button> <input  type="file"  style="display: none"  ref="fileInput"  accept="image/*"  @change="onFilePicked"/>  </label>
	<span></span><span></span>
	<input style="width:15% "v-if="posting" class="input" v-model="postingPictureCaption" type="text" placeholder="Enter a caption"/>
	<br></br>
	<label class="labelImg" v-if="posting && imageUploaded" >Preview: <img style="margin-left: 10px" v-if="posting && imageUploaded" :src=imagePath height="50" width="50"/> </label>
<!-- MODAL -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  			<div class="modal-dialog modal-dialog-centered" role="document">
    			<div class="modal-content">
      				<div class="modal-header" hidden="true">
        				<span aria-hidden="true">&times;</span>
      				</div>
      			<div class="modal-body" align="left">
      			<label v-if="hasCaption">{{selectedImage.caption}}</label>
      			<div align='center' v-if="selected" id='image-preview'>
		<img :src=selectedImage.picturePath height=100% width=100%/>
		<label style="float: right; color: #666666">{{selectedImage.date}}</label>
		</br></br>
		</br></br>
		<p v-if="isMine"><label><button class="buttonBlue" v-on:click="setAsProfilePicture" >Set as profile picture</button></label>
		</br></br>
		<p v-if="isMine"><label><button class="buttonBlue" v-on:click="deleteImage" data-dismiss="modal">Delete Image</button></label></p> </br></br>
		<label v-if="!isMine && userLogged.isAdmin"><label><button class="buttonBlue" v-on:click="adminDelete()">Admin Delete</button></label></label></br></br>
		<input style="margin-left: 10px;" class="input" v-if="adminDeleting" v-model="reason" placeholder="Write a reason"></input>
		<label style="float: right" ><button class="buttonBlue" v-if="adminDeleting" v-on:click="adminDelete()" data-dismiss="modal">Delete</button></label>
		</br></br>
		</br></br>
		<div style="width: 80%">
		<table>
			<tr v-for="(comment,index) in selectedImage.comments"  v-bind:index="index" >
				<td v-if="comment.isEdited">{{comment.name}} {{comment.lastname}}: {{comment.text}}, edited on {{comment.date}} </td>
				<td v-else>{{comment.name}} {{comment.lastname}}: {{comment.text}}, {{comment.date}}</td>
				<td v-if="comment.username===userLogged.username || userLogged.isAdmin || isMine"><span></span><span></span><span></span><button v-on:click="deleteComment(comment.id,index)">Delete</button></td>
			</tr>
		</table>
		</div>
		</br></br>
		<input class="input" v-if="logged" v-model="text" placeholder="Write a comment"></input>
		<label style="float: right"><button class="buttonBlue" v-if="logged" v-on:click="comment()">send</button></label>
		</div>
      			</div>
      		<div class="modal-footer">
      		<label><button type="button" class="buttonBlue" data-dismiss="modal">Close</button></label>
      	</div>
      	</div>
      	</div>
      	</div>
	</br></br>
	<label><button class="buttonBlue" align='center' v-on:click="returnBack">Return</button></label>	
	</div>

<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/toast.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../app/imagesPageApp.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>