<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<link href="../css/bootstrap.css" rel="stylesheet"/>
<link href="../css/main.css" rel="stylesheet"/> 
<link href="../css/messagesPage.css" rel="stylesheet">
<link href="../css/toast.css" rel="stylesheet"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ArkNet - Messages</title>
</head>
<body>
	<div align='center' id="messages" class='friends'>
	</br></br>
	<div class="back">
	</br></br>
	<h3>Messages</h3>
	</br></br>
	<table style="border-collapse:separate; border-spacing:2em;">
			<tr v-for="(chat,index) in chats"  v-on:click="selectChat(chat,index)" v-bind:index="index" v-bind:class="{selected : selectedChat.id===chat.id}">
			<td data-toggle="modal" data-target="#exampleModalCenter" v-if="chat.isAdmin" bgcolor='crimson'>  <img :src=chat.picturePath height="25" width="25"/>  {{ chat.name}} {{chat.lastname}} </td>
			<td data-toggle="modal" data-target="#exampleModalCenter" v-else> <img :src=chat.picturePath height="25" width="25"/> {{ chat.name}} {{chat.lastname}} </td>
		</tr>	
	</table>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  			<div class="modal-dialog modal-dialog-centered" role="document">
    			<div class="modal-content">
      				<div class="modal-header" hidden="true">
        				<span aria-hidden="true">&times;</span>
      				</div>
      			<div class="modal-body" align="center">
			      	<div v-if="selected" align="center">
						 <p>Chat with: {{selectedChat.name}} {{selectedChat.lastname}}  <img :src=selectedChat.picturePath height="50" width="50"/> </p>
						 <table >
						 	<tr v-for="msg in selectedChat.messages">
						 	<td v-if="msg.isFromSender"> {{selectedChat.name}}: {{ msg.text}}, sent on {{msg.date}}</td>
						 	<td v-else>{{msg.text}}, sent on {{msg.date}} :You</td>
						 	</tr>
						 </table>
						 </br>
						 <input style="width: 70%" class="input" v-model="text"></input>
						 <label style="float: right"><button class="buttonBlue" id="send" v-on:click="sendMessage2">Send</button></label>
					</div>
				</div>
      		<div class="modal-footer">
      		<label><button type="button" class="buttonBlue" data-dismiss="modal">Close</button></label>
      	</div>
      	</div>
      	</div>
      	</div>
      		</br></br>
      	</div>
      	</br></br>
      	<label><button class="buttonBlue" v-on:click="returnBack">Return</button></label>
	</div>

	

<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/toast.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../app/messageApp.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>