<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<link href="../css/bootstrap.css" rel="stylesheet"/>
<link href="../css/main.css" rel="stylesheet"/> 
<link href="../css/postsPage.css" rel="stylesheet">
<link href="../css/toast.css" rel="stylesheet"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ArkNet - Posts</title>
</head>
<body>
	<div align='center' id="posts" class='friends'>
	</br></br>
	<div class="back">
	</br></br>
	<h3>{{userView.name}} {{userView.lastname}}'s posts</h3>
	</br></br>
	<h5 v-if="!hasPosts">No posts to show</h3>
	<div id="postsPreview" align='center'>
		<table>
			<tr v-for="(post,index) in posts" v-on:click="selectPost(post,index)" v-bind:index="index" v-bind:class="{selected : selectedPost.id===post.id}">
				<td data-toggle="modal" data-target="#exampleModalCenter">{{post.caption}}</td>
			</tr>
		</table>
		</br></br>
	</div>
	</div>
	</br></br>
	<label><button class="buttonBlue" v-if="isMine && !posting" v-on:click="postPost">New post</button></label>
	<label v-if="posting"><button class="buttonBlue" v-on:click="postPost">Post</button></label>
	</br></br>
	<label v-if="posting"> <button class="buttonBlue" @click="onPickFile">Upload a picture</button> <input  type="file"  style="display: none"  ref="fileInput"  accept="image/*"  @change="onFilePicked"/>  </label>
	<span></span><span></span>
	<input v-if="posting" style="width:15%" class="input" v-model="caption" type="text" placeholder="Enter a caption"/></br></br></br>
	<label v-if="posting && imageUploaded" > Preview: <img v-if="posting && imageUploaded" :src=imagePath height="50" width="50"/> </label>
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  			<div class="modal-dialog modal-dialog-centered" role="document">
    			<div class="modal-content">
      				<div class="modal-header" hidden="true">
        				<span aria-hidden="true">&times;</span>
      				</div>
      			<div class="modal-body" align="center">
			      	<div id="detailedPreview" v-if="selected" align='center'>
			      	</br></br>
					<label style="font-size: x-large">{{selectedPost.caption}}</label></br></br>
					<label>{{selectedPost.date}}</label></br></br>
					<label v-if="hasImage"><img :src=selectedPost.picturePath height=100% width=100%/></label></br></br>
					<label v-if="isMine"><button class="buttonBlue" v-on:click="deletePost" data-dismiss="modal">Delete Post</button></label></br></br>
					<label v-if="!isMine && userLogged.isAdmin"><button class="buttonBlue"  v-on:click="adminDelete()">Admin Delete</button></label></br></br>
					<input style="float: left; margin-left: 10px;" v-if="adminDeleting" class="input" v-model="reason" placeholder="Write a reason"></input>
					<label style="float: right" ><button class="buttonBlue" v-if="adminDeleting" v-on:click="adminDelete()" data-dismiss="modal">Delete</button></label>
					</br></br>
					</br></br>
					<table>
						<tr v-for="(comment,index) in selectedPost.comments"  v-bind:index="index" >
							<td v-if="comment.isEdited">{{comment.name}} {{comment.lastname}}: {{comment.text}}, edited on {{comment.date}} </td>
							<td v-else>{{comment.name}} {{comment.lastname}}: {{comment.text}}, {{comment.date}}</td>
							<td v-if="comment.username===userLogged.username || userLogged.isAdmin || isMine"><button v-on:click="deleteComment(comment.id,index)">Delete</button></td>
						</tr>
					</table>
					</br></br>
					<input class="input" v-if="logged" v-model="text" placeholder="Write a comment"></input>
					<label style="float: right">
					<button class="buttonBlue" v-if="logged" v-on:click="comment()">Comment</button>
					</label>
					<br></br>
      			</div>
      		<div class="modal-footer">
      		<label><button type="button" class="buttonBlue" data-dismiss="modal">Close</button></label>
      	</div>
      	</div>
      	</div>
      	</div>
	</div>
	</br></br>
	<label><button class="buttonBlue" align='center' v-on:click="returnBack">Return</button></label>
	</div>

<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/toast.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../app/postsPageApp.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>