<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
<link href="../css/bootstrap.css" rel="stylesheet"/>
<link href="../css/main.css" rel="stylesheet"/>
<link href="../css/welcomePage.css" rel="stylesheet"/>
<link href="../css/toast.css" rel="stylesheet"/>
<title>ArkNet - Home Page</title>
</head>
<body>
	<div id="friends" class="friends">
	
		<!-- NAV BAR -->
		<nav>
			<div class="nav-left">
				<img src="../images/bela.png" class="logo">
			</div>
			<div class="nav-right">
				<ul>
		      		<li><img data-toggle="collapse" href="#collapseSearch" src="../images/search.png" height="25" width="25"/></li>
		      		<li v-if="!logged"><button v-on:click="logout" style="font-size: 16px; color: white;">Login</button></li>
					<li><img src="../images/requests.png" v-if="logged" v-on:click="checkFriendRequests" height="25" width="25"></li>
					<li><img src="../images/messages.png" v-if="logged" v-on:click="checkMessages" height="25" width="25"></li>
				</ul>
				<div class="dropdown">
			    	<img v-if="logged" data-toggle="dropdown" class="profilpic" :src=userLogged.picturePath height="50" width="50"/>
			  		<div class="dropdown-menu">
						<a class="dropdown-item" v-if="logged">Name: {{userLogged.name}}</a>
						<a class="dropdown-item" v-if="logged">Lastname: {{userLogged.lastname}}</a>
						<a class="dropdown-item" v-if="logged">E-mail: {{userLogged.email}}</a>	
						<a class="dropdown-item" v-if="logged">Date of Birth: {{userLogged.dob}}</a>
						<a class="dropdown-item" v-if="logged">Gender: {{userLogged.gender}}</a>
						<a class="dropdown-item" v-if="logged && userLogged.isPrivate">Private</a>
						<button class="dropdown-item" v-if="logged" v-on:click="viewMyImages">My Images</button>
						<button class="dropdown-item" v-if="logged" v-on:click="viewMyPosts">My Posts</button>
						<button class="dropdown-item" v-if="logged" v-on:click="editProfile">Edit Profile</button>
						<button class="dropdown-item" v-on:click="logout">Logout</button>
		  			</div>
				</div>
			</div>
		</nav>
		
		<!-- SEARCH BAR -->

		<div align="center" class="collapse" id="collapseSearch">
	  		<div class="card card-body">
				<input class="input" type="text" v-model="searchName" placeholder="Name" size="10">
				<input class="input" type="text" v-model="searchLastname" placeholder="Lastname" size="10">
				<input class="input" type="date" v-model="dobFrom" style="width:200px" value="">
				<input class="input" type="date" v-model="dobTo" style="width:200px" value="">
				<select class='input' v-model="sortCrit">
				<option v-for="option in critOptions" v-bind:value="option.value">{{ option.text }}</option>			
				</select>
				<select class='input' v-model="sortType">
				<option v-for="option in typeOptions" v-bind:value="option.value">{{ option.text }}</option>			
				</select>
				<label><button class="buttonBlue" v-on:click="searchUsers">Search</button></label>
	  		</div>
		</div>
		
		<!-- EXPLORE USERS TABELA -->
		
		<div class="main" align="center">
  		<div class="columnLeft">
  		<br></br>
		<h3 align="center">Explore users</h3>
		<br></br>
		<h5 v-if="!hasExplore">No users to show</h5>
		<div align='center' id="tableUsers">
		<table class="tableUsers" align='center'>
			<tr v-for="(u,index) in otherUsers" v-on:click="selectUser(u,false,index)" v-bind:index="index" v-bind:class="{selected : selectedUser.username===u.username}">
			<td data-toggle="modal" data-target="#exampleModalCenter" v-if="!u.isBlocked || userLogged.isAdmin"><img class="profilpic" :src=u.picturePath height="50" width="50"/></td>
			<td data-toggle="modal" data-target="#exampleModalCenter" v-if="!u.isBlocked || userLogged.isAdmin"> {{ u.name }} {{ u.lastname }}</td>
			<td v-if="u.isBlocked && userLogged.isAdmin"><label><button class="buttonBlue" v-on:click="unblockUser(u,index)">Unblock user</button></label></td>
			<td v-if="!u.isBlocked && userLogged.isAdmin"><label><button class="buttonBlue" v-on:click="blockUser(u,index)">Block user</button></label></td>
			</tr>
		</table>
		<br></br>
		</div>
		<!-- MODAL -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  			<div class="modal-dialog modal-dialog-centered" role="document">
    			<div class="modal-content">
      				<div class="modal-header" hidden="true">
        				<span aria-hidden="true">&times;</span>
      				</div>
      			<div class="modal-body" align="left">
	      			<p v-if="selected">  <img class="profilpic" :src=selectedUser.picturePath height="100" width="100"/></p>
					<p v-if="selected">Name: {{ selectedUser.name }}</p>
					<p v-if="selected">Lastname: {{ selectedUser.lastname }}</p>
					<p v-if="selected">Email: {{ selectedUser.email }}</p>
					<p v-if="selected">Username: {{ selectedUser.username }}</p>
					<p v-if="selected">Date of Birth: {{ selectedUser.dob }}</p>
					<p v-if="selected">Gender: {{ selectedUser.gender }}</p>
					<p v-if="selected && selectedUser.isPrivate">Private</p>
					<p v-if="isFriend && selected && logged"><button v-on:click="sendMessage()">Send Message</button></p>
					<p v-if="(isFriend && selected) || (selected && !selectedUser.isPrivate)"><button v-on:click="viewPosts()">View Posts</button></p>
					<p v-if="(isFriend && selected) || (selected && !selectedUser.isPrivate)"><button v-on:click="viewImages()">View Images</button></p>
					<p v-if="isFriend && selected && logged"><button v-on:click="removeFriend()">Remove friend</button></p>
					<p v-else-if="selected && logged"><button v-on:click="addFriend()">Add as friend</button></p>
					<div v-if="selected && isFriend">
						<label >Mutual Friends</label>
						<table class="mutualFriends">
							<tr v-for="mutual in mutualFriends" >
							<td><img class="profilpic" :src=mutual.picturePath height="25" width="25"/></td>
							<td>{{ mutual.name }} {{ mutual.lastname }}</td>
							</tr>
						</table>
						
					</div>
      			</div>
      		<div class="modal-footer">
      		<button type="button" class="buttonBlue" style="width: 25%" data-dismiss="modal">Close</button>
      	</div>
      	</div>
      	</div>
      	</div>
  		</div>
  		<div v-if="logged" class="columnRight">
  		<!-- FRIENDS -->
  		<br></br>
		<h3 v-if="logged" align="center">Friends</h3>
		<br></br>
		<h5 v-if="!hasFriends">No users to show</h5>
		<div align='center' id="tableFriends">
		<table class="tableFriends" v-if="logged" align='center'>
			<tr v-for="(fr,index) in friends" data-toggle="modal" data-target="#exampleModalCenter" v-on:click="selectUser(fr,true,index)" v-bind:index="index" v-bind:class="{selected : selectedUser.username===fr.username}">
				<td><img class="profilpic" :src=fr.picturePath height="50" width="50"/></td>
				<td v-if="!fr.isBlocked || userLogged.isAdmin">{{ fr.name }} {{ fr.lastname }}</td>
			</tr>
		</table>
		<br></br>
		</div>
		</div>
  		</div>
  		
		</div>

<script src="../js/vue.js"></script>
<script src="../js/axios.js"></script>
<script src="../js/moment.min.js"></script>
<script src="../js/toast.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../app/homePageApp.js"></script>
</body>
</html>