tr {
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

td {
	text-align:center;
	width: 40%;
	border-radius: 25px;
	padding: 10%;
}

.back {
	background: #E8E8E8;
	width: 30%;
	border-radius: 25px;
}

tr:hover {
  background: #c0c0c0;
  cursor: pointer;
}

tr.selected {
	 background-color: #c0c0c0;
}

.friends {
	font-size: 14px;
}

span + span {
    margin-left: 2%;
}