.back {
	background: #E8E8E8;
	width: 50%;
	border-radius: 25px;
}

.grid-container {
	margin-left:50px;
	margin-right:50px;
  	width: 100%;
	display: grid;
	grid-template-columns: 200px 200px 200px 200px;
	grid-gap: 20px 20px;
}

div.gallery {
		-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

div.gallery:hover {
  cursor: pointer;
  opacity: 0.3;
}

div.gallery img {
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

.labelImg img {
	border-radius: 25px;
}

span + span {
    margin-left: 1%;
}

span + span + span {
    margin-left: 25%;
}

.input {
	width: 70%;
}