span + span {
    margin-left: 1%;
}

img {
	border-radius: 25px;
}

tr {
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

td {
	padding: 10px;
	margin: 20px;
	border-radius: 25px;
}

tr:hover {
	cursor: pointer;
	background: #c0c0c0;
}

.back {
	background: #E8E8E8;
	width: 30%;
	border-radius: 25px;
}