span + span {
    margin-left: 1%;
}

tr {
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

td {
	padding: 10px;
	border-radius: 25px;
}

.back tr:hover {
	cursor: pointer;
	background: #c0c0c0;
}

span + span + span {
    margin-left: 25%;
}

.back {
	background: #E8E8E8;
	width: 35%;
	border-radius: 25px;
}

.input {
	width: 70%;
}