.toast {
	display: none;
	position: fixed;
	z-index: 99999;
	width: 100%;
	text-align: center;
	top: 2em;
	}

.toast .message {
	display: inline-block;
	color: #fff;
	padding: 5px;
	border-radius: 25px;
	background: #666666;
	background-image: #666666;
	}