nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #0055cc;
	padding: 5px 20%;
}

.logo {
	width: 160px;
	margin-right: 45px;
}

.nav-left {
	display: flex;
	align-items: center;
}

.nav-left ul li {
	list-style: none;
	display: inline-block;
}

.nav-left ul li img {
	width: 25 px;
	margin: 0 15px;
}

.nav-right {
	display: flex;
	align-items: center;
	
}

.nav-right ul li {
	cursor: pointer;
	list-style: none;
	display: inline-block;
}

.nav-right ul li {
	width: 25 px;
	margin: 0 15px;
}

.nav-right ul {
	width: 25 px;
	margin: 0 15px;
}

.collapse {
  	margin: auto;
}

.dropdown-item {
	color: #0055cc;
}

.dropdown-item:hover {
	background: transparent;
}

.profilpic {
	cursor: pointer;
	border-radius: 25px;
}

.tableUsers {
	width: 90%
}

.tableFriends {
	width: 80%
}

tr {
		border-radius: 25px;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

td {
	height: 100px;
}

.dropdown-menu {
	border-radius: 25px;
	margin-top: 5px;
}

.main {
  margin: 30px auto auto auto;
    width: 60%;
    display: flex;
    column-gap: 10%;
}

.columnLeft {
	background: #E8E8E8;
	border-radius: 25px;
  float: left;
  width: 70%;
}

.card{
	display: inline-block;
	border-radius: 25px;
	margin-top: 10px;
	border: none;
}

.mutualFriends td{
	height: 50px;
}

.mutualFriends tr:hover{
	background: none;
	cursor: auto;
}

.modal img{
	cursor: auto;
}


.columnRight {
	background: #E8E8E8;
	border-radius: 25px;
	float: left;
  	width: 30%;
}

tr:hover {
	cursor: pointer;
	background: #c0c0c0;
}

td:first-child,
th:first-child {
  border-radius: 25px 0 0 25px;
  text-align: center;
}

td:last-child,
th:last-child {
  border-radius: 0 25px 25px 0;
  text-indent: 7px;
}